**/*.svg
package.json
AUTHORS.txt
lib/
es/
dist/
coverage/
CNAME
LICENSE
yarn.lock
netlify.toml
yarn-error.log
yarn.lock
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
storybook-static/
